.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    height: auto;
    padding: 40px 90px;
    margin: 40px 90px 40px 90px;
}

.banner img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .banner {
        margin: 0px;
    }
}

@media screen and (max-width: 767px) {
    .banner {
        padding: 0px;
        margin: 20px;
    }

}