.contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 17px;
        margin: 5px;
    }

    a {
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 10px rgb(0, 0, 0);
        background-color: var(--color-cards-bg);
        border-radius: 3px;
        padding: 1.25rem 1.75rem;
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1;
        text-decoration: none;
        margin: 50px;
        transition: transform 0.3s ease;
    }

    a:hover {
        transform: scale(1.05);
        background-color: var(--color-icon-hover);
    }
}




@media screen and (max-width: 767px) {
    .contact {
        h3 {
            margin: 8px;
            font-size: 20px;
        }

        p {
            font-size: 10px;
        }

        a {
            padding: 10px;
            font-size: 15px;
            margin: 20px 35px 20px 35px;
        }
    }
}