.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 29px 0px 0px 20px;
    font-family: 'Anuphan', Arial sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: var(--color-header-bg);
    border-top: 1px solid #ccc;


    p {
        color: var(--color-header-text);
        margin: 10px;
    }

    a {
        text-decoration: none;
        color: var(--color-header-text);
    }

    a:hover {
        color: var(--color-icon-hover)
    }

    .go-up {
        color: var(--color-cards-bg);
        margin: 10px;
        font-size: 30px;
        cursor: pointer;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .go-up:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease;
    }

    @media (max-width: 767.98px) {
        font-family: 'Anuphan', Arial sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 17.11px;
        text-align: center;
    }

}