@media screen and (max-width: 767px) {
    .menu {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 1.5rem;
        height: 1.5rem;
        background: transparent;
        border: none;
        cursor: pointer;

        .icon-menu,
        .close-menu {
            z-index: 5;
            font-size: 24px;
            color: var(--color-icon);
            transition: transform 0.3s ease;
        }

        .close-menu {
            position: fixed;
            cursor: pointer;
        }


        .icon-menu:hover {
            color: var(--color-icon-hover);
            transform: scale(1.2);
        }
    }

    .hamburger-menu {
        position: fixed;
        bottom: -94px;
        right: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, var(--color-menu-bg), var(--color-background));
        transition: right 0.3s ease-in-out;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    ul {
        display: flex;
        gap: 25px;
        flex-direction: column;
        padding: 0;
        margin: 0px 0px 80px 20px;

        li {
            margin: 5px;
            text-align: center;

            a {
                font-size: 28px;
                padding: 6px 0;
                transition: opacity 0.2s linear;
                text-decoration: none;
                color: var(--color-text);
                transition: color 0.3s;

                &:hover {
                    color: #152c55;
                }
            }
        }
    }

}


// MENU OPEN 
.hamburger-menu.open {
    z-index: 4;
    right: 0;
    width: 100%;
    height: 100%;

    ul {
        display: flex;
        gap: 25px;
        flex-direction: column;
        padding: 0;
        margin: 0px 0px 0px 20px;

        li {
            margin: 5px;
            text-align: center;

            a {
                font-size: 28px;
                padding: 6px 0;
                transition: opacity 0.2s linear;
                text-decoration: none;
                color: var(--color-text);
                transition: color 0.3s;

                &:hover {
                    color: #152c55;
                }
            }
        }
    }

}