.hamburger {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-header-bg);
    color: var(--color-header-text);
    padding: 0px 50px 0px 0px;
    border-bottom: 1px solid #ccc;

    nav a {
        color: var(--color-header-text);
        text-decoration: none;
    }

    a:hover {
        color: var(--color-icon-hover);
    }


    img {
        margin: 20px;
        width: 65%;
    }


    ul {
        display: flex;
        gap: 57px;
    }

    li {
        display: flex;
    }

    nav {
        font-size: 24px;
        font-weight: 500;
        line-height: 34.22px;
        text-align: right;
        text-decoration-line: none;
    }

    .visually-hidden {
        color: var(--color-text)
    }
}

/* Tablettes en mode portrait til 1024px*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        padding: 0px;

        ul {
            padding: 0px;
            gap: 30px;
        }

        img {
            width: 50%;
        }

        nav {
            font-size: 20px;
        }


    }
}

@media screen and (max-width: 767px) {

    body {
        font-size: 12px;
    }

    .desk-nav {
        display: none;
    }

    .header {

        ul {
            gap: 10px;
        }

        img {
            width: 30%;
        }
    }

    .hamburger {
        display: block;
        position: relative;
    }
}