body {
    margin: 0 auto;
    font-family: 'Anuphan', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

html {
    scroll-behavior: smooth;
}

:root {
    --color-text: #000000;
    --color-background: #f3f3f3;
    --color-header-bg: #fff;
    --color-header-text: #051331;
    --color-icon: #d7550f;
    --color-icon-hover: #f3a27a;
    --color-skills-minor: #ee8f61;
    --color-skills-major: #f8b594;
    --color-cards-bg: #ddd1ca;

}


body {
    color: var(--color-text);
    background-color: var(--color-background);
}

body.dark {
    --color-text: #ffffff;
    --color-background: #282828;
    --color-header-bg: #121212;
    --color-header-text: #ffffff;
    --color-icon: #00ceff;
    --color-icon-hover: #218ba9;
    --color-skills-minor: #3f99a3;
    --color-skills-major: #107087;
    --color-cards-bg: #00717b;
    --image: url("../assets/sun.svg");
}

body.light {
    --image: url("../assets/moon.svg");
}