.graphSkills {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: conic-gradient(#ebd4c7 0% 35%,
            #f0eae3 35% 100%,
        );
    margin: 0px 20px 0px 0px;
}

.skillsContent {
    display: flex;
    justify-content: space-around;
    margin: 90px 30px 90px 30px;
}