.skillsContent {
    display: flex;
    justify-content: space-around;
    margin: 90px 90px 90px 90px;
}

.graphSkills {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: conic-gradient(var(--color-skills-minor) 0% 35%,
            var(--color-skills-major) 35% 100%,
        );
    margin: 0px 20px 0px 0px;

    p {
        color: white;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .graphSkills {
        width: 50%;
        margin: 0px 33px 0px 33px;
    }
}

@media screen and (max-width: 767px) {

    .skillsContent {
        margin: 20px;

    }

    .graphSkills {
        width: 55%;
        aspect-ratio: 1 / 1;
        margin: 0px;
    }

    .codeContent,
    .designerContent {
        font-size: 10px;
    }
}