.vertical-bar {
    position: fixed;
    top: 50%;
    left: 30px;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 3;
}

.vertical-bar::before {
    content: '';
    position: absolute;
    top: 170px;
    left: 50%;
    width: 1px;
    height: calc(100vh - 80px);
    background-color: var(--color-icon);
}

.icon {
    font-size: 24px;
    color: var(--color-icon);
    transition: color 0.3s, transform 0.3s;
}

.icon:hover {
    color: var(--color-icon-hover);
    transform: scale(1.2);
}

@media screen and (max-width: 767px) {
    .vertical-bar {
        display: none;
    }

}